@use "../variables" as v;

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: nth($list: v.$color, $n: 1);
    color: nth($list: v.$color, $n: 4);
    text-align: center;
    overflow: hidden;
}
.titulo-productos{
    margin: 50px;
}
.subtitulo {
    color: nth($list: v.$color, $n: 4);
}
h2 {
    color: nth($list: v.$color, $n: 4);
}
.formatoFondo{
    flex: 1;
    max-width: 70%;
}
.contenedor-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.mapa-container {
    flex: 1;
    max-width: 100%;
    text-align: right;
    margin-left: 40px;
}
.main-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.mapa-contenedor {
    width: 100%;
    max-width: 800px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
    .mapa-contenedor {
        max-width: 500px;
        height: 300px;
    }
}