@use "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: nth($list: variables.$color, $n: 1);
    color: nth($list: variables.$color, $n: 4);
}